@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 250ms;
}

html, body, head{
    transition: 0ms;
}

body{
    background-color: var(--background);
}


:root{
    --accent: #4F46E5;
    --accent-darker: #4F46E5;

    --background: #111827;
    --form-background: #1F2937;
    --form-background-lighter: #374151;

    --primary-text: #E5E7EB;
    --primary-text-lighter: #ffffff;

    --secondary-text: #94979C;
    --secondary-text-lighter: #b5b8bd;
}

[data-theme="dark-purple"]{
    --accent: #4F46E5;
    --accent-darker: #433ea7;

    --background: #111827;
    --form-background: #1F2937;
    --form-background-opacity: rgba(31, 41, 55, 0.6);
    --form-background-lighter: #374151;

    --primary-text: #d6dae0;
    --primary-text-lighter: #ffffff;

    --secondary-text: #94979C;
    --secondary-text-lighter: #b5b8bd;

    
}

div[name="dark-purple"] {
    .preview-accent{ background-color: #4F46E5; }
    .preview-background{ background-color: #111827; }
}

[data-theme="dark-green"]{
    --accent: #6DBA8F;
    --accent-darker: #337550;

    --background: #17180B;
    --form-background: #252712;
    --form-background-opacity: rgba(37, 39, 18, 0.6);
    --form-background-lighter: #35381c;

    --primary-text: #F0F1E1;
    --primary-text-lighter: #ffffff;

    --secondary-text: #94979C;
    --secondary-text-lighter: #b5b8bd;
}

div[name="dark-green"] {
    .preview-accent{ background-color: #6DBA8F; }
    .preview-background{ background-color: #17180B; }
}

[data-theme="light-blue"]{
    --accent:#97bff2;
    --accent-darker: #80a5d5;

    --background: #F9FDFD;
    --form-background: #dfe9f1;
    --form-background-opacity: rgba(238, 244, 249, 0.6); /* 0.6 */
    --form-background-lighter: #ebf6ff;

    --primary-text: #020908;
    --primary-text-lighter: #061d1a;

    --secondary-text: #243230;
    --secondary-text-lighter: #364744;
}

div[name="light-blue"] {
    .preview-accent{ background-color: #97bff2; }
    .preview-background{ background-color: #F9FDFD; }
}

[data-theme="dark-blue"]{
    --accent: #319EF6;
    --accent-darker: #185585;

    --background: #0b141c;
    --form-background: #141f2b;
    --form-background-opacity: rgba(20, 31, 43, 0.6); /* 0.6 */
    --form-background-lighter: #1d2b3b;

    --primary-text: #E2E8ED;
    --primary-text-lighter: #ffffff;

    --secondary-text: #c4d5e4;
    --secondary-text-lighter: #d6ecff;
}

div[name="dark-blue"] {
    .preview-accent{ background-color: #319EF6; }
    .preview-background{ background-color: #0b141c; }
}


[data-theme="dark-orange"]{
    --accent: #f5732d;
    --accent-darker: #b86538;

    --background: #0c0806;
    --form-background: #190e08;
    --form-background-opacity: rgba(25,14,8, 0.6); /* 0.6 */
    --form-background-lighter: #26150c;

    --primary-text: #EEE6E2;
    --primary-text-lighter: #ffffff;

    --secondary-text: #a9a4a1;
    --secondary-text-lighter: #beb8b5;
}

div[name="dark-orange"] {
    .preview-accent{ background-color: #df7b44; }
    .preview-background{ background-color: #0c0806; }
}

[data-theme="light-red"]{
    --accent: #f63e3e;
    --accent-darker: #b62d2d;

    --background: #fcfbfb;
    --form-background: #f3e9e9;
    --form-background-opacity: rgba(243, 233, 233, 0.6);
    --form-background-lighter: #f7f1f1;

    --primary-text: #090808;
    --primary-text-lighter: #2c2727;

    --secondary-text: #241e1e;
    --secondary-text-lighter: #393030;
}

div[name="light-red"] {
    .preview-accent{ background-color: #f63e3e; }
    .preview-background{ background-color: #fcfbfb; }
}

[data-theme="light-acid"]{
    --accent: #05ff97;
    --accent-darker: #13bc73;

    --background: #e3fdf2;
    --form-background: #cef3e3;
    --form-background-opacity: rgba(206,243,227, 0.6);
    --form-background-lighter: #e3fcf2;

    --primary-text: #0E1210;
    --primary-text-lighter: #1a211e;

    --secondary-text: #1c3228;
    --secondary-text-lighter: #2e453b;
}

div[name="light-acid"] {
    .preview-accent{ background-color: #1bfc9d; }
    .preview-background{ background-color: #ecfff7; }
}


[data-theme="dark-red"]{
    --accent: #fe2e28;
    --accent-darker: #bb201d;

    --background: #0f0000;
    --form-background: #1a000e;
    --form-background-opacity: rgba(26,0,14, 0.6);
    --form-background-lighter: #3b0a12;

    --primary-text: #e7d9e9;
    --primary-text-lighter: #ffffff;

    --secondary-text: #917d95;
    --secondary-text-lighter: #b29ab7;
}

div[name="dark-red"] {
    .preview-accent{ background-color: #fe2e28; }
    .preview-background{ background-color: #0f0000; }
}
/* 
[data-theme=""]{
    --accent: ;
    --accent-darker: ;

    --background: ;
    --form-background: ;
    --form-background-opacity: ;
    --form-background-lighter: ;

    --primary-text: ;
    --primary-text-lighter: ;

    --secondary-text: ;
    --secondary-text-lighter: ;
}

div[name=""] {
    .preview-accent{ background-color: ; }
    .preview-background{ background-color: ; }
}
*/