.accent{
    color: var(--accent);
}

.svg svg path{
    fill: var(--accent);
}

.svg_anim svg{
    animation: 500ms svg_anim ease-out;
}

@keyframes svg_anim {
    from{
        scale: 1.5;
        opacity: 0;
        transform: translateY(400px);
    }
}

.background_color{
    color: var(--background);
}

.background{
    background-color: var(--background);
}

.form{
    color: var(--secondary-text-lighter);
    background-color: var(--form-background);
}

.form_opacity{
    background-color: var(--form-background-opacity);
}

.form_accent{
    background-color: var(--accent);
}

.form_light{
    background-color: var(--form-background-lighter);
}

.primary_text{
    color: var(--primary-text);
}

.secondary_text{
    color: var(--secondary-text);
}

.text_input{
    /* border: none; */
    background-color: var(--background);
    color: var(--secondary-text);
    border: 1px solid var(--form-background);

    &:focus{
        box-shadow: none;
        border: var(--accent) 1px solid;
    }
}

.checkbox{
    background-color: var(--background);
    border: 1px solid var(--form-background);
    color: var(--accent);

    &:focus{
        box-shadow: none;
        border: var(--accent) 1px solid;
    }
}

.hoverText{
    color: var(--secondary-text);

    &:hover{
        color: var(--secondary-text-lighter);
    }
}

.background_color{
    color: var(--background);
}

.primary_button{
    color: var(--primary-text);
    background-color: var(--accent);
    

    &:hover, &:focus{
        outline: none;
        background-color: var(--accent-darker);
        color: var(--primary-text-lighter);
    }
}

.secondary_button{
    background-color: transparent;
    color: var(--secondary-text);
    border: 1px solid var(--form-background);

    &:hover, &:focus{
        outline: none;
        color: var(--primary-text);
        background-color: var(--background);
    }
}

.dropdown_link{
    background-color: transparent;
    color: var(--secondary-text-lighter);

    &:hover{
        background-color: var(--form-background);
        color: var(--primary-text-lighter);
    }
}

.nav_icon{
    color: var(--secondary-text);
    margin-right: 0.5rem;
}

.nav_border_active{
    border-bottom: 2px solid var(--accent);

    .nav_icon{
        color: var(--accent);
    }
}

.nav_border_active_mobile{
    background-color: var(--background);
    border-left: 4px solid var(--accent);

    .nav_icon{
        color: var(--accent-darker);
    }
}

.nav_border_mobile{
    border: 4px solid transparent;

    &:hover{
        background-color: var(--form-background-lighter);
        border-left: 4px solid var(--secondary-text);
    }
}

.nav_border{
    color: var(--secondary-text);
    border-bottom: 2px solid var(--accent-darker);

    &:hover{
        color: var(--primary-text);
        border-bottom: 2px solid var(--accent);
    }
}

.icon_btn{
    color: var(--primary-text);
    & :hover{
        color: var(--accent);
    }
}

