.container{
    margin: 0 auto;
    border: 1px solid var(--accent);
    width: 50%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    gap: 4px;

    /* remove later */
    padding: 8px;
}

.row{
    display: flex;
    gap: 4px;
    flex-grow: 1;
}

.tile{
    border-radius: 0.5rem;
    flex-grow: 1;
    border: 1px solid var(--accent-darker);
}



/* < lg */
@media (max-width: 1024px){
    .container{
        width: 70%;
    }
}

/* < sm */
@media (max-width: 640px){
    .container{
        width: 95%;
    }
}