.container{
    margin: 0 auto;
    /* border: 1px solid var(--accent); */
    width: 50%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;

    /* remove later */
    padding: 8px;
}

.row{
    display: flex;
    flex-grow: 1;
}

.tile{
    border-radius: 0.5rem;
    flex-grow: 1;
    border: 1px solid var(--accent-darker);
    cursor: pointer;

    transition: 250ms;
    &:hover{
        background-color: var(--form-background-lighter);
        background-color: var(--background);
    }

    animation: ease-out 250ms forwards tile-appear;
}

.right_anim{
    animation: right_anim 1.5s forwards;
}

.right_clicked{
    background-color: var(--accent);
    &:hover{
        background-color: var(--accent);
    }

    animation: tile-click 200ms ease-in-out;
}

.wrong_clicked{
    background-color: var(--background);
    &:hover{
        background-color: var(--background);
    }
    animation: tile-click 200ms ease-in-out;
}

@keyframes right_anim {
    0%{
        background-color: transparent;
    }

    20%{
        background-color: var(--accent);
    }

    80%{
        background-color: var(--accent);
    }

    100%{
        background-color: transparent;
    }
}

@keyframes tile-click{
    50%{
        scale: 0.9;
    }
}

@keyframes tile-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* < lg */
@media (max-width: 1024px){
    .container{
        width: 70%;
    }
}

/* < sm */
@media (max-width: 640px){
    .container{
        width: 95%;
    }
}